{% extends 'base.html' %}

{% block title %}Detalji grla{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h2>{{ animal.eid_number }}</h2>
        <p class="text-muted mb-0">Detalji evidentiranog grla</p>
    </div>

    <div>
        <a href="{% url 'sheep_update' animal.pk %}" class="btn btn-outline-success">
            Uredi
        </a>

        <a href="{% url 'sheep_delete' animal.pk %}" class="btn btn-outline-danger">
            Obriši
        </a>
    </div>
</div>

<div class="card shadow-sm border-0">
    <div class="card-body">

        <div class="row mb-3">
            <div class="col-md-4 text-muted">Životni broj</div>
            <div class="col-md-8 fw-semibold">{{ animal.eid_number }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 text-muted">Pasmina</div>
            <div class="col-md-8">{{ animal.get_breed_display }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 text-muted">Spol</div>
            <div class="col-md-8">{{ animal.get_sex_display }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 text-muted">Datum rođenja</div>
            <div class="col-md-8">{{ animal.birth_date|date:"d.m.Y." }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 text-muted">Kategorija</div>
            <div class="col-md-8">
                <span class="badge bg-success">
                    {{ animal.get_category_display }}
                </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4 text-muted">Rasplodni ovan</div>
            <div class="col-md-8">
                {% if animal.is_breeding_ram %}
                    Da
                {% else %}
                    Ne
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-muted">Napomena</div>
            <div class="col-md-8">
                {{ animal.notes|default:"Nema napomene." }}
            </div>
        </div>

    </div>
</div>

<a href="{% url 'sheep_list' %}" class="btn btn-secondary mt-4">
    Natrag
</a>

{% endblock %}